<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CMBS Offerings</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spcss@0.9.0">
  </head>
  <body>
    <ol>
      {{#each this}}
        <li><a href="{{url}}" target="cmbs-window">{{name}}</a></li>
        <ul>
          {{#each filings}}
            <li><a href="{{url}}/{{primaryDocument}}" target="cmbs-window">{{filingDate}}: {{primaryDocument}} ({{size}}) </a></li>
          {{/each}}
        </ul>

      {{/each}}
    </ol>
  </body>
